.m-t-12 {
    margin-top: 12px;
}

.m-t-18 {
    margin-top: 18px;
}

.m-b-12 {
    margin-bottom: 12px;
}

.p-l-24 {
    padding-left: 24px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-b-30 {
    padding-bottom: 30px;
}

a.btn-primary, a.btn-primary:visited {
    color: white!important;
}

input[type="password" i] {
    -webkit-text-security: disc !important;    
}